.questions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 30px;
  height: auto;
}

.question-card {
  max-width: 800px;
  border-radius: 10px;
  width: 100%; /* Định dạng chiều rộng của khung chứa nội dung */
  padding: 50px;
  padding-top: 10px;
  background-color: #b44444;
}

.question-header {
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.question {
  font-size: 24px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.custom-progress {
  width: 30%;
}

.restart-button {
  padding: 0px 20px;
}
