
.question-card {
  width: 90%; /* Định dạng chiều rộng của khung chứa nội dung */
  padding: 20px;
}
.questions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

}


.question-header {
  /* Khoảng cách giữa câu hỏi và câu trả lời */
  text-align: center; /* Căn giữa nội dung trong khung chứa câu hỏi */
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #040404;
  align-items: center;

}


.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
