.option-arrange {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-list {
  box-sizing: border-box;
  padding: 0px 10px;
  border: 1px solid #080000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
  flex-grow: 1; 
}

.answer-item {
  height: 30px;
  min-width: 30px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold; 
}

.answer-item:hover {
  background-color: #f2bc3e;
  color: #080000;
}