.option-single-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

/* Đảm bảo rằng nội dung nút radio được căn giữa */
.option-single-choice .ant-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Thêm border cho nút radio */
.option-single-choice .ant-radio-button-wrapper {
  width: 100%; /* Độ rộng tính cả border */
  height: auto;
 text-align: center;
  font-size: 16px;
  border: 1px solid #080000; 
  border-radius: 50px;
 padding: 10px
}

.option-single-choice .ant-radio-button-wrapper:hover {
  background-color: #f2bc3e;
  color: #080000; 
}
