.option-single-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.option-single-choice .ant-radio-group {
   width: 90%;
   /* display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; */
}

/* Thêm border cho nút radio */
.option-single-choice .ant-radio-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border: 1px solid #080000;
}
.option-single-choice .ant-radio-button {
  background-color: #ed62cf; 
}
