

.option-multiple-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.answer-option {
    width: 100%; /* Độ rộng tính cả border */
    text-align: center;
    border: 1px solid #000000; /* Thay đổi màu border cho phù hợp với các loại khác */
    padding: 20px;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.answer-option.selected {
    background-color: #f682c9; 
    
}